@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Life+Savers:wght@400;700;800&display=swap');

/* Definições para o padrão do nosso documento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variáveis de cores */
:root {
    --color0: #F2F2F2;
    --color1: #F9133A;
    --color2: #A30D26;
    --color3: #111;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* definição das imagens */
img {
    image-rendering: optimizeQuality;
    width: 100%;
    max-width: 400px;
}

/* Classe para caso quisermos esconder algo. */
.hidden {
    display: none;
}


/* Página da carta */
#message {
    width: 100%;
    height: 100%;
    background-color: var(--color2);
}

/* Seção tolya */
#tolya {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#tolya>p {
    font-size: 2.3em;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: 'Leckerli One';
    color: var(--color0);
}

/* Carta em CSS */
#letter,
.show-modal {
    background-image: url('https://enricogregorio.github.io/ToLya/img/letter.jpg');
    background-position: center;
    width: 700px;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/* Coração em CSS */
#heart {
    background-color: none;
    border: none;
    cursor: pointer;
    position: relative;
    width: 100px;
    height: 90px;
    transition: .4s;
    font-size: 1.4em;
    font-weight: 600;
    font-family: 'Life Savers';
}

#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background-color: red;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

#heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

#heart:hover {
    height: 200px;
}

#heart:active {
    height: 200px;
}

.calm-alert {
    font-family: Arial, Helvetica, sans-serif !important;
}




/* Página principal / Onde ficarão os mimos */
#video {
    width: 100%;
    height: 100vh;
    background-color: var(--color2);
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

#hello {
    width: 80%;
    height: 90vh;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(48, 5, 5, 0.418);
}

#ily {
    width: 100%;
    height: 100vh;
    background-image: url('https://enricogregorio.github.io/ToLya/img/bg.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1 {
    font-family: 'Leckerli One', Arial, Helvetica, sans-serif;
    font-size: 4em;
    color: var(--color1);
}

#photos {
    background-color: var(--color1);
    width: 100%;
    text-align: center;
    display: block;
}

#photos>h2 {
    color: var(--color0);
    font-family: 'Life Savers';
    font-weight: 800;
    font-size: 5em;
    padding: 20px 0;
}

.items {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.she {
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #70091a94;
}

.reveal {
    position: relative;
    transform: translateY(144px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

#cards {
    width: 100%;
    background-color: var(--color3);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.show-modal {
    width: 300px;
    height: 200px;
    margin: 50px 50px;
    cursor: pointer;
    transition: .3s;
}

.show-modal:hover,
.show-modal:active {
    width: 350px;
    height: 230px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000099;
    backdrop-filter: blur(3px);
    z-index: 1;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 80%;
    height: 300px;
    padding: 6rem;
    border-radius: 5px;
    background-color: var(--color0);
    z-index: 2;
}

#phrase {
    font: italic 600 1.5em/1.3 'Times New Roman', Times, serif;
}

.close-modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: var(--color3);
    cursor: pointer;
    border: none;
    background: none;
}

/* Mobile */
@media screen and (max-width: 700px) {
    #letter {
        max-width: 80%;
        height: 220px;
    }

    img {
        max-width: 350px;
    }

    #hello {
        width: 90%;
        height: 220px;
    }

    .modal {
        padding: 7rem 20px;
        height: 70%;
    }
}